/* import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    padding: 0;
    box-sizing: border-box;
    background-color: #fcefed;
}

/* fade-in animation */
section {
    opacity: 0.1;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    will-change: opacity, transform;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}