.brand-page {
    height: 82vh;
    padding: var(--header-height) 0 0 0;
    box-sizing: border-box;
}

.brand-page .hero {
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    position: relative;
    overflow: hidden;
}

.brand-page .image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.brand-page .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}

.brand-page .text-container {
    position: absolute;
    top: 10vh;
    left: 5vw;
    z-index: 1;
    max-height: 65%;
    max-width: 50%;
    padding: 2vw;
    background: rgba(250, 237, 234, 0.4);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: all 0.8s ease;
}

.brand-page .text-container .text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    color: #000;
    transition: all 0.8s ease;
}

.brand-page .text-container .bold {
    font-weight: 600;
}

.brand-page .text-container:hover {
    transform: scale(1.1);
    left: 8vw;
    top: 8vh;
}

.brand-page .text-container:hover .text {
    font-weight: 400;
    font-size: 1.1vw;
}

@media (max-width: 992px) {
    .brand-page {
        height: 87vh;
        padding: var(--mobile-header-height) 0 0 0;
    }

    .brand-page .hero {
        padding: 1.5vh 0 0 0;
        width: 100%;
        height: 40vh;
        flex-direction: column;
    }

    .brand-page .hero::after {
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }
}
