.contact-us-page {
    height: 82vh;
    padding: var(--header-height) 0 var(--footer-height) 0;
    box-sizing: border-box;
}

.contact-us-page .hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    position: relative;
    overflow: hidden;
}

.contact-us-page .text-area {
    flex: 0 0 40%;
    order: 2;
    box-sizing: border-box;
    padding-top: 5vh;
    padding-left: 3vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.contact-us-page .heading-container {
    margin-bottom: 4vh;
}

.contact-us-page .heading-container .title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    color: #000;
    margin-bottom: 2vh;
}

.contact-us-page .heading-container .text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    color: #7c7979;
}

.contact-us-page .text-container {
    margin-bottom: 2vh;
}

.contact-us-page .text-container .title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #a09292;
}

.contact-us-page .text-container .text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    color: #000000;
}

.contact-us-page .form-container {
    flex: 0 0 60%;
    order: 1;
    box-sizing: border-box;
    padding: 5vh 10vw;
}

.contact-us-page .contact-form {
    display: flex;
    flex-direction: column;
    background-color: #fdfcfc;
    height: 100%;
}

@media (max-width: 992px) {
    .contact-us-page {
        height: 87vh;
        padding: var(--mobile-header-height) 0 0 0;
        box-sizing: border-box;
    }

    .contact-us-page .hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        position: relative;
    }

    .contact-us-page .text-area {
        flex: 0 0 40%;
        box-sizing: border-box;
        padding: 8vh 20vw 0 20vw;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contact-us-page .heading-container {
        padding-bottom: 1vh;
        margin-bottom: 3vh;
        border-bottom: 0.5px solid #c6b5b5;
    }

    .contact-us-page .heading-container .title {
        font-size: 3vh;
        margin-bottom: 1vh;
    }

    .contact-us-page .heading-container .text {
        font-size: 1.2vh;
    }

    .contact-us-page .text-container {
        margin-bottom: 1vh;
    }

    .contact-us-page .text-container .title {
        font-size: 1vh;
    }

    .contact-us-page .text-container .text {
        font-size: 1.4vh;
    }
}