.home-page .text-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 0;
    min-width: 0;
    height: 65vh;
    padding: 0 4rem 0 6rem;
    flex-direction: column;
}

.home-page .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 65vh;
    overflow: hidden;
}

.home-page .image {
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-page .hero {
    padding-top: var(--header-height);
    display: flex;
    align-items: center;
    height: 80vh;
}

.home-page .hero .text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    color: #000;
    text-align: left;
}

.home-page .hero .title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1vw;
    color: #000;
    text-align: left;
}

.home-page .content {
    display: flex;
    align-items: center;
    height: 80vh;
}

.home-page .content > :first-child {
    align-items: flex-end;
}

.home-page .content .text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 3rem);
    color: #000;
    text-align: left;
    padding: 0rem 3rem 4rem 3rem;
    text-decoration: underline;
    text-underline-offset: 0.8vw;
}

.home-page .content a {
    transition: color 0.3s ease;
}

.home-page .content a:hover {
    color: #ec786d;
}

@media (max-width: 992px) {
    .home-page .text-container {
        order: 2;
        box-sizing: border-box;
        width: 100%;
        height: 40vh;
        padding: 0 0 1rem 0;
    }

    .home-page .image-container {
        order: 1;
        box-sizing: border-box;
        width: 100%;
        height: 40vh;
        padding: 0 0 1rem 0;
    }

    .home-page .hero {
        padding-top: var(--mobile-header-height);
        flex-direction: column;
        height: auto;
    }

    .home-page .hero .text {
        text-align: center;
        font-size: 2.5vw;
        padding: 0 4rem;
    }

    .home-page .hero .title {
        text-align: center;
        font-size: 2.5vw;
        padding: 0 4.5rem;
    }

    .home-page .content {
        flex-direction: column;
        height: auto;
    }

    .home-page .content .text {
        text-align: center;
        font-size: 3.5vw;
        padding: 0.5rem 4rem;
    }
}