.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    min-width: 0;
    height: 65vh;
    padding: 0 4rem 0 6rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 65vh;
    overflow: hidden;
}

.image {
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    padding-top: 180px;
    display: flex;
    align-items: center;
    height: 80vh;
}

.hero .text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 1.05vw, 3rem);
    color: #000;
    text-align: left;
}

.content {
    display: flex;
    align-items: center;
    height: 80vh;
}

.content .text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 3rem);
    color: #000;
    text-align: left;
}

@media (max-width: 768px) {
    .text-container {
        order: 2;
        box-sizing: border-box;
        width: 100%;
        height: 40vh;
        padding: 0rem 0rem 1rem 0rem;
    }

    .image-container {
        order: 1;
        box-sizing: border-box;
        width: 100%;
        height: 40vh;
        padding: 1rem 0rem 1rem 0rem;
    }

    .hero {
        padding-top: 110px;
        flex-direction: column;
        height: auto;
    }

    .hero .text {
        text-align: center;
        font-size: 2.5vw;
        padding: 0 4rem;
    }

    .content {
        flex-direction: column;
        height: auto;
    }

    .content .text {
        text-align: center;
        font-size: 3.5vw;
        padding: 0.5rem 4rem;
    }
}