.footer {
    width: 100%;
    background-color: #d08469;
    border-top: 1px solid #ddd;
    display: flex;
    height: 20vw;
    align-items: center;
}

.footer a {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
    transition: color 0.3s ease text-decoration 0.3s ease;
}

.footer a:hover {
    color: #a83e3a;
    text-decoration: underline;
    text-underline-offset: 0.3vw;
}